.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  background-color: rgba(4, 12, 12, 0.267);
}
.mainclass {
  background-color: rgb(38, 27, 10);
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 3rem;
}
